@mixin tfix() {
	transform: perspective(1px);
	transform-style: preserve-3d;
	backface-visibility: hidden;
}

@mixin flex($a, $b, $c, $d ) {
	display: flex;
	flex-flow: $a $b;
	justify-content: $c;

	@if $b =='nowrap' {
		align-items: $d;
	}

	@else {
		align-content: $d;
	}
}

@mixin neo($estado , $br , $dis1 ) {
	color: var(--negro);
	transition: all .4s ease;
	border-radius: $br ;

	@if $estado ==1 {
		background-color: var(--white);
		box-shadow:
			$dis1 $dis1 $dis1*2 var(--main-shad),
			$dis1*-1 $dis1*-1 $dis1*2 var(--sec-shad),
			inset 0 0 0 transparent,
			inset 0 0 0 transparent;
	}

	@else if $estado ==2 {
		background-color: var(--white);
		box-shadow:
			0 0 0 transparent,
			0 0 0 transparent,
			inset $dis1 $dis1 $dis1*2 var(--main-shad),
			inset $dis1*-1 $dis1*-1 $dis1*2 var(--sec-shad);
	}

}

body {
	font-size: 100%;
	min-height: 100vh;
	background-color: var(--color-bg);
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: unset;
	text-decoration: none;
}

.gradient_bg {
	/* ff 3.6+ */
	background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

	/* safari 5.1+,chrome 10+ */
	background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

	/* opera 11.10+ */
	background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

	/* ie 10+ */
	background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

	/* global 92%+ browsers support */
	background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

.gradient_text {
	background: var(--gradient-text);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.section_padding {
	padding: 4rem 6rem;
}

.section_margin {
	margin: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
.gpt5_navbar {
	@include flex(row, nowrap, space-between, center);
}

.gpt5_navbar-links {
	flex: 1;
	@include flex(row, nowrap, flex-start, center);
}

.gpt5_navbar-links_logo {
	margin-right: 2rem;

	img {
		width: 62.56px;
		height: 16.02px;
	}
}

.gpt5_navbar-links_container {
	@include flex(row, nowrap, space-between, center);

	p {
		color: #fff;
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
		text-transform: capitalize;

		margin: 0 1rem;
		cursor: pointer;
	}
}

.gpt5_navbar-sign {
	@include flex(row, nowrap, flex-end, center);

	p {
		color: #fff;
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
		text-transform: capitalize;

		margin: 0 1rem;
		cursor: pointer;
	}
}

.gpt5_navbar-menu {
	@include flex(row, nowrap, flex-end, center);

	p {
		color: #fff;
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
		text-transform: capitalize;

		margin: 0 1rem;
		cursor: pointer;
	}
}

button {
	padding: 0.75rem 1.5rem;
	color: white;
	background: #FF4820;
	border-radius: 5px;
	font-weight: 500;
	line-height: 25px;
	font-size: 18px;
	border: 0;
	outline: none;
	cursor: pointer;
}

.gpt5_navbar-menu {
	margin-left: 1rem;
	display: none;
	position: relative;
	svg {
		cursor: pointer;
	}
}

.gpt5_nabvar-menu_container{
	@include flex(column, nowrap, flex-end, flex-end);
	text-align: end;
	background: var(--color-footer);
	padding: 2rem;
	position: absolute;
	top: 40px;
	right: -1px;
	margin-top: 1rem;
	min-width: 210px;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);

	p {
		margin: 1rem 0;
	}
}

.gpt5_navbar-menu_container-links-sign {
	display: none;
}
@media screen and (max-width: 550px) {
	.section_padding {
		padding: 4rem 2rem;
	}
	.section_margin {
		margin: 4rem 2rem;
	}
	.gpt5_navbar-sign{
		display: none;
	}
	.gpt5_navbar-menu_container-links-sign{
		display: block;
	}
}
@media screen and (max-width: 700px) {
	.section_padding {
		padding: 4rem;
	}
	.section_margin {
		margin: 4rem;
	}
}

@media screen and (max-width: 1050px) {
	.gpt5_navbar-links_container {
		display: none;
	}

	.gpt5_navbar-menu {
		display: flex;
	}
	.section_padding{
		padding: 4rem 2rem;
	}
}
