@mixin tfix() {
	transform: perspective(1px);
	transform-style: preserve-3d;
	backface-visibility: hidden;
}

@mixin flex($a, $b, $c, $d ) {
	display: flex;
	flex-flow: $a $b;
	justify-content: $c;

	@if $b =='nowrap' {
		align-items: $d;
	}

	@else {
		align-content: $d;
	}
}

@mixin neo($estado , $br , $dis1 ) {
	color: var(--negro);
	transition: all .4s ease;
	border-radius: $br ;

	@if $estado ==1 {
		background-color: var(--white);
		box-shadow:
			$dis1 $dis1 $dis1*2 var(--main-shad),
			$dis1*-1 $dis1*-1 $dis1*2 var(--sec-shad),
			inset 0 0 0 transparent,
			inset 0 0 0 transparent;
	}

	@else if $estado ==2 {
		background-color: var(--white);
		box-shadow:
			0 0 0 transparent,
			0 0 0 transparent,
			inset $dis1 $dis1 $dis1*2 var(--main-shad),
			inset $dis1*-1 $dis1*-1 $dis1*2 var(--sec-shad);
	}

}

body {
	font-size: 100%;
	min-height: 100vh;
	background-color: var(--color-bg);
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: unset;
	text-decoration: none;
}

.gradient_bg {
	/* ff 3.6+ */
	background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

	/* safari 5.1+,chrome 10+ */
	background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

	/* opera 11.10+ */
	background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

	/* ie 10+ */
	background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

	/* global 92%+ browsers support */
	background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

.gradient_text {
	background: var(--gradient-text);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.section_padding {
	padding: 4rem 6rem;
}

.section_margin {
	margin: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
// NAVBAR
.gpt5_navbar {
	@include flex(row, nowrap, space-between, center);
}

.gpt5_navbar-links {
	flex: 1;
	@include flex(row, nowrap, flex-start, center);
}

.gpt5_navbar-links_logo {
	margin-right: 2rem;

	img {
		width: 62.56px;
		height: 16.02px;
	}
}

.gpt5_navbar-links_container {
	@include flex(row, nowrap, space-between, center);

	p {
		color: #fff;
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
		text-transform: capitalize;

		margin: 0 1rem;
		cursor: pointer;
	}
}

.gpt5_navbar-sign {
	@include flex(row, nowrap, flex-end, center);

	p {
		color: #fff;
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
		text-transform: capitalize;

		margin: 0 1rem;
		cursor: pointer;
	}
}

.gpt5_navbar-menu {
	@include flex(row, nowrap, flex-end, center);

	p {
		color: #fff;
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
		text-transform: capitalize;

		margin: 0 1rem;
		cursor: pointer;
	}
}

button {
	padding: 0.75rem 1.5rem;
	color: white;
	background: var(--button);
	border-radius: 5px;
	font-weight: 500;
	line-height: 25px;
	font-size: 18px;
	border: 0;
	outline: none;
	cursor: pointer;
	&:hover{
		background-color: white;
		color: var(--button);
		transition: 0.2s ease-in;
	}
}

.gpt5_navbar-menu {
	margin-left: 1rem;
	display: none;
	position: relative;
	svg {
		cursor: pointer;
	}
}

.gpt5_nabvar-menu_container{
	@include flex(column, nowrap, flex-end, flex-end);
	text-align: end;
	background: var(--color-footer);
	padding: 2rem;
	position: absolute;
	top: 40px;
	right: -1px;
	margin-top: 1rem;
	min-width: 210px;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);

	p {
		margin: 1rem 0;
	}
}

.gpt5_navbar-menu_container-links-sign {
	display: none;
}
// HEADER
.gpt5_header{
	display: flex;
	padding: 4rem 0;
}
.gpt5_header-content{
	flex: 1;
	@include flex(column, nowrap, center, flex-start);
	margin-right: 5rem;
	h1{
		font-weight: 800;
		font-size: 62px;
		line-height: 75px;
		letter-spacing: -0.04em;
	}
	p{
		color: var(--color-text);
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 27px;
		margin-top: 1.5rem;
	}
}
.gpt5_header-content_input{
	width: 100%;
	margin: 2rem 0 1rem;
	@include flex(row, nowrap, space-between, center);
	input{
		border-radius: 5px 0 0 5px;
		color: white;
		border: 2px solid var(--color-footer);
		background-color: var(--color-footer);
		font-size: 20px;
		line-height: 27px;
		min-height: 50px;
		width: 100%;
		flex: 2;
		padding: 0 1rem;
		outline: none;
	}
	button{
		flex: 0.6;
		width: 100%;
		font-size: 20px;
		line-height: 27px;
		min-height: 50px;
		border-radius: 0px 10px 10px 0;
		transition: 0.2s ease-in;
		font-weight: 500;
		&:hover{
			font-weight: 900;
		}
	}
}
.gpt5_header-content_people{
	width: 100%;
	@include flex(row, nowrap, flex-start, center);
	margin-top: 2rem;
	img{
		width: 181.79px;
		height: 38px;
	}
	p{
		margin: 0 0 0 1rem;
		font-weight: 500;
		font-size: 12px;
		line-height: 38px;
		color: white;
		text-align: center;
	}
}
.gpt5_header-image{
	flex: 1;
	@include flex(row, nowrap, center, center);
	img{
		height: 100%;
		width: 100%;
	}
}
// BRAND SECTION
.gpt5_brand{
	@include flex(row, wrap, center, center);
	div{
		flex: 1;
		max-width: 150px;
		min-width: 120px;
		margin:1rem;
		@include flex(row, nowrap, center, center);
	}
}
// WHAT GPT5
.gpt5_what{
	@include flex(column, nowrap, center, flex-start);
	padding: 2rem;
	background: var(--color-footer);
	/* ff 3.6+ */
    background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gpt5_what-feature{
	@include flex(row, nowrap, center, center);
	.gpt5_feature-container_feature{
		margin: 0;
	}
	.gpt5_feature-container_feature-text{
		margin: 0;
		max-width: 700px;
	}
}
.gpt5_what-heading{
	width: 100%;
	@include flex(row, wrap, space-between,center);
	align-items: center;
	margin: 4rem 0 4rem;
	h1{
		font-family: var(--font-family);
		font-size: 34px;
		line-height: 45px;
		font-weight: 800;
		max-width: 510px;
		font-style: normal;
	}
	p{
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 30px;
		color: var(--color-subtext);
		cursor: pointer;
	}
}
.gpt5_what-container{
	@include flex(row, wrap, center, center);
	display: flex;
	margin-top: 2rem;
}
// Feature
.gpt5_features-container_feature{
	flex: 1;
	width: 100%;
	@include flex(column, nowrap, space-between, flex-start);
	margin: 1rem;
	&.row{
		@include flex(row, nowrap, center, flex-start);
	}
}
.gpt5_features-container_feature-title{
	flex: 1;
	max-width: 180px;
	margin-right: 2rem;
	div{
		width: 38px;
		height: 3px;
		background:var(--gradient-bar);
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		margin: 0.25rem;
	}
	h1{
		font-family: var(--font-family);
		font-size: 18px;
		line-height: 24px;
		font-weight: 800;
		font-style: normal;
		letter-spacing: -0.04rem;
		color: white;
	}
}
.gpt5_features-container_feature-text{
	flex: 2;
	max-width: 390px;
	display: flex;
	p{
		color: var(--color-text);
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
	}
}
.gpt5_features{
	width: 100%;
	@include flex(row, nowrap, space-between, flex-start);
}
.gpt5_features-heading{
	flex: 1;
	@include flex(column, nowrap, center, flex-start);
	text-align: left;
	margin-right: 5rem;
	h1{
		font-family: var(--font-family);
		font-size: 34px;
		line-height: 45px;
		font-weight: 800;
		font-style: normal;
	}
	p{
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 30px;
		color: var(--color-subtext);
		cursor: pointer;
		margin-top: 2rem;
	}
}
.gpt5_features-container{
	flex: 1.5;
	@include flex(column, wrap, flex-start, center);
}

// POSSIBILITY
.gpt5_possibility{
	@include flex(row, nowrap, center, flex-end);
}
.gpt5_possibility-img{
	flex: 1;
	@include flex(row, nowrap, flex-start, center);
	margin-right: 2rem;
	img{
		width: 100%;
		height: 100%;
	}
}
.gpt5_possibility-content{
	flex: 1;
	@include flex(column, nowrap, flex-end, flex-start);
	h4{
		font-family: var(--font-family);
		font-size: 16px;
		line-height: 30px;
		font-style: normal;
		color: var(--color-text);
		&:last-child{
			cursor: pointer;
			color: var(--color-subtext);
			margin-top: 1rem;
		}
	}
	h1{
		font-family: var(--font-family);
		font-size: 34px;
		line-height: 45px;
		font-weight: 800;
		margin: 0.75rem 0;
	}
	p{
		font-weight: 300;
		font-size: 16px;
		line-height: 30px;
		cursor: pointer;
		margin-bottom: 2rem;
		color: white;
	}
}
// CTA
.gpt5_cta{
	@include flex(row, nowrap, space-between, center);
	padding: 2rem;
	margin: 4rem;
	border-radius: 1rem;
	background: var(--gradient-bar);
}
.gpt5_cta-content{
	p{
		font-weight: 500;
		font-size: 12px;
		line-height: 30px;
		color: #0E0E0E;
		font-family: var(--font-family);
	}
	h3{
		font-family: var(--font-family);
		font-size: 24px;
		line-height: 45px;
		font-weight: 800;
		font-style: normal;
	}
}
.gpt5_cta-button{
	@include flex(row, nowrap, center, center);
	button{
		color: white;
		background: black;
		border-radius: 40px;
		cursor: pointer;
		transition: 0.2s ease-in;
		transform: scale(1);
		box-shadow: 0 0 15px rgba(0, 0, 0, 1);
		&:hover{
			background-color: white;
			color: black;
			transition: 0.2s ease-in;
			transform: scale(1.1);
			box-shadow: 0 0 0px rgba(0, 0, 0, 0.75);
		}
	}
}
// BLOG
.gpt5_blog{
	@include flex(column, nowrap, center, center);
}
.gpt5_blog-heading{
	width: 100%;
	text-align: left;
	margin-bottom: 5rem;
	h2{
		font-family: var(--font-family);
		font-size: 62px;
		line-height: 75px;
		font-weight: 800;
		font-style: normal;
	}
}
.gpt5_blog-container{
	width: 100%;
	@include flex(row, nowrap, center, stretch);
}
.gpt5_blog-container_groupA{
	flex: 0.75;
	margin-right: 2rem;
}
.gpt5_blog-container_groupB{
	flex: 1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
}
// ARTICLE
.gpt5_blog-container_article{
	width: 100%;
	height: 100%;
	@include flex(column, nowrap, center, center);
	background: var(--color-footer);
}
.gpt5_blog-container_article-image{
	width: 100%;
	height: 100%;
	background: var(--color-footer);
	img{
		width: 100%;
		height: 100%;
	}
}
.gpt5_blog-container_article-content{
	@include flex(column, nowrap, space-between, flex-start);
	padding: 1rem 1.5rem;
	height: 100%;
	p{
		font-family: var(--font-family);
		font-size: 12px;
		line-height: 35px;
		font-weight: bold;
		color: white;
		margin-top: 1rem;
		&:last-child{
			margin-top: 4rem;
			cursor: pointer;
			color: white;
		}
	}
	h3{
		font-family: var(--font-family);
		font-size: 25px;
		line-height: 30px;
		font-weight: 800;
		font-style: normal;
		color: white;
	}
}
// FOOTER
.gpt5_footer{
	color: white;
	@include flex(column, nowrap, center, center);
	background: var(--color-footer);
}
.gpt5_footer-heading{
	width: 100%;
	text-align: center;
	margin-bottom: 3rem;
	h2{
		font-weight: 800;
		font-size: 62px;
		line-height: 75px;
		text-align: center;
		letter-spacing: -0.04em;
	}
}
.gpt5_footer-button{
	@include flex(row, nowrap, center, center);
	padding: 1rem;
	border: 1px solid #fff;
	text-align: center;
	margin-bottom: 10rem;
	cursor: pointer;
	transition: 0.2s ease-in;
	color: white;
	p{
		box-sizing: border-box;
		font-size: 18px;
		line-height: 21px;
		word-spacing: 2px;
	}
	&:hover{
		background-color: white;
		color: black;
		transition: 0.2s ease-in;
	}
}
.gpt5_footer-links{
	@include flex(row,  wrap, space-between, flex-start);
	width: 100%;
	text-align: left;
	div{
		width: 250px;
		margin: 1rem;
	}
}
.gpt5_footer-links_logo{
	@include flex(column, nowrap, flex-start, flex-start);
	img{
		width: 118px;
		height: 30px;
		margin-bottom: 1rem;
	}
	p{
		font-family: var(--font-family);
		font-size: 12px;
		line-height: 14px;	
	}
}
.gpt5_footer-links_div{
	@include flex(column, nowrap, flex-start, flex-start);
	h4{
		font-family: var(--font-family);
		font-size: 14px;
		line-height: 16px;
		font-weight: 700;
		margin-bottom: 1rem;
	}
	p{
		font-family: var(--font-family);
		font-size: 12px;
		line-height: 14px;
		margin: 0.5em 0;
		cursor: pointer;
	}
}
.gpt5_footer-copyright{
	margin-top: 2rem;
	text-align: center;
	width: 100%;
	p{
		font-family: var(--font-family);
		font-size: 12px;
		line-height: 14px;
	}
}
	// MEDIA QUERIES
@media screen and (max-width: 990px) {
	.gpt5_navbar-links_container {
		display: none;
	}

	.gpt5_navbar-menu {
		display: flex;
	}
	.section_padding{
		padding: 4rem 2rem;
	}
	.gpt5_header{
		flex-direction: column;
	}
	.gpt5_header-content{
		margin: 0 0 3rem;
	}
	.gpt5_features{
		@include flex(column, nowrap, center, center);
	}
	.gpt5_features-heading{
		margin: 0 0 2rem 0;
		@include flex(column, nowrap, center, flex-start);
		padding: 0 4rem;
	}
	.gpt5_features-container{
		width: 100%;
		padding: 0 4rem;
	}
	.gpt5_possibility{
		@include flex(column, nowrap, center, center);
		padding: 0 6rem;
	}
	.gpt5_possibility-img{
		margin: 1rem 0;
	}
	.gpt5_possibility-content{
		margin: 2rem 0 0 0;
	}
	.gpt5_blog-container{
		flex-direction: column-reverse;
	}
	.gpt5_blog-container_groupB{
		grid-template-columns: repeat(1, 1fr);
	}
	.gpt5_blog-container_groupA{
		margin-right: 0;
		margin-top: 2rem;
		.gpt5_blog-container_article{
			width: 100%;
		}
	}
	.gpt5_footer-heading{
		h2{
			font-size: 44px;
			line-height: 50px;
		}
	}
}
@media screen and (max-width: 700px) {
	.section_padding {
		padding: 4rem;
	}
	.section_margin {
		margin: 4rem;
	} 
	.gpt5_header-content_input{
		input,button{
			font-size: 14px;
			line-height: normal;
		}
	}
	.gpt5_cta{
		flex-direction: column;
	}
	.gpt5_cta-button{
		margin-top: 1.5rem;
	}
	.gpt5_blog-heading{
		h2{
			font-size: 46px;
			line-height: 52px;
		}
	}
}
@media screen and (max-width: 670px) {
	.gpt5_header{
		h1{
			font-size: 48px;
			line-height: 60px;
		}
		p{
			font-size: 16px;
			line-height: 24px;
		}
	}
	.gpt5_header-content_people{
		flex-direction: column;
		p{
			margin: 0;
		}
	}
	.gpt5_header-content_input{
		input, button{
			font-size: 16px;
			line-height: 24px;
		}
	}
	.gpt5_header-content_input{
		button{
			padding: 0rem 1.5rem;
		}
	}
}
@media screen and (max-width: 550px) {
	.section_padding {
		padding: 2rem;
	}
	.gpt5_header.section_padding{
		padding: 2rem 0;
	}
	.section_margin {
		margin: 4rem 2rem;
	}
	.gpt5_navbar-sign{
		display: none;
	}
	.gpt5_navbar-menu_container-links-sign{
		display: block;
	}
	.gpt5_features-container_feature-title{
		h1{
			font-size: 14px;
			line-height: 22px;
		}
		p{
			font-size: 12px;
			line-height: 20px;
		}
	}
	.gpt5_what-container{
		flex-direction: column;
	}
	.gpt5_features-container_feature{
		margin: 1rem 0;
		&.row{
			flex-direction: column;
		}
	}
	.gpt5_features-heading{
		padding: 0 0 0 2rem;
		h1{
			font-size: 28px;
			line-height: 38px;
		}
	}
	.gpt5_features-container{
		padding: 0 0 0 2rem;
	}
	.gpt5_cta{
		margin: 4rem 2rem;
		h3{
			font-size: 18px;
			list-style: 32px;
		}
		p{
			font-size: 14px;
			line-height: 20px;
		}
		button{
			font-size: 14px;
			line-height: 28px;
		}
	}
	.gpt5_blog-container_article-content{
		h3{
			font-size: 18px;
			line-height: 25px;
		}
	}
	.gpt5_blog-heading{
		h2{
			font-size: 34px;
			line-height: 42px;
		}
	}
	.gpt5_footer-heading{
		h2{
			font-size: 34px;
			line-height: 42px;
		}
	}
	.gpt5_footer-links{
		div{
			margin: 1rem 0;
		}
	}
	.gpt5_footer-button{
		p{
			font-size: 14px;
			line-height: 20px;
		}
	}
}
@media screen and (max-width:490px) {
	.gpt5_header{
		h1{
			font-size: 36px;
			line-height: 48px;
		}
		p{
			font-size: 14px;
			line-height: 24px;
		}
	}
	.gpt5_header-content_input{
		input, button{
			font-size: 14px;
			line-height: 18px;
		}
	}
}
@media screen and (max-width:400px) {
	.gpt5_features-heading{
		padding: 0;
	}
	.gpt5_features-container{
		padding: 0;
	}
	.gpt5_footer-heading{
		h2{
			font-size: 27px;
			line-height: 38px;
		}
	}
}
