* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: var(--font-family);
}
img {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}
video {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}
p a {
  display: inline;
}
li {
  list-style-type: none;
}
table , tr , td {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  scroll-behavior: smooth;
}
h1 , h2 , h3 , h4 , h5 , h6 , strong , a {
  display: block;
  text-decoration: none;
  color:inherit;
  font-weight: inherit;
  font-size:inherit;
}
::selection {
  background-color: var(--negro);
  color: var(--white);
}

form , input, textarea, select , button , label{
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    display: block;
  }

// --------------------------

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}
